<ion-header>
   <ion-navbar hideBackButton>
   	  <ion-buttons left>
        <button ion-button (click)="goback()">
           <ion-icon *ngIf="translate.currentLang=='heb'" class="backArrow" name="ios-arrow-back" style=" color: #ff8b00;margin: 0 6px;min-width: 44px; -webkit-box-shadow: none;box-shadow: none;font-size: 1.75em;"></ion-icon>
           <ion-icon *ngIf="translate.currentLang=='en'" class="backArrow" name="ios-arrow-back" style=" color: #ff8b00;margin: 0 6px;min-width: 44px; -webkit-box-shadow: none;box-shadow: none;font-size: 1.75em;transform: rotate(180deg);"></ion-icon>
        
		</button>
		</ion-buttons>
      <ion-title>{{'friends' | translate}}</ion-title>
   </ion-navbar>
</ion-header>
<ion-content  class="content rtl">
   <div class="custom-search1 m-b-10">
      <ion-searchbar (ionInput)="getUsers($event)" placeholder="{{'search_here' | translate}}"></ion-searchbar>
   </div>
   <div class="notification-sec" *ngIf="allUser">
      <ul class="m-0 p-0 user_ul1" type="none"  *ngFor="let a of allUser">
         <li>
            <div class="img-left" style="float:right" *ngIf="!a.profileImage && currentLang=='heb'"> 
               <img class="circle-img" src="assets/imgs/profiler.png" /> 
            </div>
            <div class="img-left" style="float:right" *ngIf="a.profileImage && currentLang=='heb'"> 
               <img class="circle-img" src={{a.profileImage}} /> 
            </div>
			
			<div class="img-left" style="float:left" *ngIf="!a.profileImage && currentLang=='en'"> 
               <img class="circle-img" src="assets/imgs/profiler.png" /> 
            </div>
            <div class="img-left" style="float:left" *ngIf="a.profileImage && currentLang=='en'"> 
               <img class="circle-img" src={{a.profileImage}} /> 
            </div>
            <div class="right-content padding-right">
               <h4> {{capitalizeFirstLetter(a.username)}}  </h4>
               <button style="position: absolute;top: 20px;right: auto;left:8px;background: #ff8b00;background-color: rgb(255, 139, 0);color: #fff;padding: 0px 5px 0px 5px;border-radius: 2px;text-transform: capitalize;
" ion-button small  (click)="onAddToFriend(a.contactNumber,a._id, a)" *ngIf="a.friendStatus=='false' && currentLang=='heb'" [disabled]="a.sent"> {{'add_friend' | translate}} </button>
			   <button ion-button small class="status-import" (click)="onAddToFriend(a.contactNumber,a._id, a)" *ngIf="a.friendStatus=='false' && currentLang=='en'" [disabled]="a.sent"> {{'add_friend' | translate}} </button>
               <button ion-button small class="status-import" (click)="onAddToFriend(a.contactNumber,a._id,a)" *ngIf="a.friendStatus=='true' && currentLang=='en'"> {{'unfriend' | translate}} </button>
               <button ion-button small style="position: absolute;top: 20px;right: auto;left:8px;background: #ff8b00;background-color: rgb(255, 139, 0);color: #fff;padding: 0px 5px 0px 5px;border-radius: 2px;text-transform: capitalize;" (click)="onAddToFriend(a.contactNumber,a._id,a)" *ngIf="a.friendStatus=='true' && currentLang=='heb'"> {{'unfriend' | translate}} </button>
               <button ion-button small style="position: absolute;top: 20px;right: 8px;left:auto;background: black;color: #fff;padding: 0px 5px 0px 5px;border-radius: 2px;text-transform: capitalize;
" *ngIf="a.friendStatus=='pending' && currentLang=='en'"> {{'pending' | translate}} </button>
               <button ion-button small style="position: absolute;top: 20px;right: auto;left:8px;background: black;color: #fff;padding: 0px 5px 0px 5px;border-radius: 2px;text-transform: capitalize;
" *ngIf="a.friendStatus=='pending' && currentLang=='heb'"> {{'pending' | translate}} </button>
            
			
			</div>
         </li>
      </ul>
   </div>
</ion-content>

